


body{
  background-repeat: no-repeat;
  background-image: linear-gradient(357deg,#F5B535 40%,#cf8f11,#bddd1a,#9ebd21);   
  background-size: 100%;         
    background-attachment: fixed;
}


#div_Descripcion2{
  margin: 39px 7px 20px 60px;
  width: 48vw;
  height: 17vw;
  border: 2px solid orange;
  background-color: #72d563;
  float: right;
  border-radius: 25px;
  position: fixed;
  right: 2%;
  bottom: 40%;
}


#div_imagen2{
  margin: 39px 0px 20px 0px;
  width: 40vw;
  height: 26vw;
  border: 2px solid rgb(12, 12, 12);
  float: left;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

#Mod{
  position: fixed;
  left: 5%;
  top: 6%;
}

#Tittle{
  background-color: #ff9508d6;
  position: fixed;
  right: 1%;
  top: 11%;
  height: 5vw;
  width: 51vw;
  border-radius: 24px;
  -webkit-text-stroke: medium;
  border: 2px solid rgb(12, 12, 12);

}

#logo{
  position: relative;
  right: 82%;
    height: 90%;
}

#button{
  position: fixed;
  bottom: 20%;
  left: 41%;
  border: 2px solid rgb(12, 12, 12);
  border-radius: 24px;
  width: 15%;
  height: 5%;
  background-color: #43af0b;
}

#Copy{
  position: fixed;
    bottom: 0%;
    left: 37%;
}
#Copy2{
position: absolute;
bottom: 30%;
left: 33%;
font-family: cursive;
font-size: large;
width: 30%;
text-align: center;
}

#logoA{
position: relative;
right: 86%;
}